@use "sass:math";

@function pxToRem($pxValue) {
  @return math.div($pxValue, 16px) * 1rem;
}

@mixin heading() {
  font-weight: 700;
  font-size: pxToRem(18px);
  line-height: pxToRem(22px);
  color: #000000;
}

@mixin para() {
  font-weight: 400;
  font-size: pxToRem(14px);
  line-height: pxToRem(24px);
  color: #7a7a7a;
}

.header,
.main {
  padding: 0 pxToRem(24px);
}

#bg-hamburger {
  position: fixed;
  height: 100%;
  width: 100%;
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.0001) 100%);
  margin: 0;
  padding: 0;
  opacity: 0.6;
  display: none;
}

#bg-back {
  position: fixed;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #000000;
  mix-blend-mode: normal;
  opacity: 0.5;
  display: none;
}

.header {
  background-image: url(../images/image-hero-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: pxToRem(300px);
  padding-block-start: pxToRem(32px);

  &__links {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: pxToRem(24px);
    right: pxToRem(24px);
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.0497193);
    border-radius: pxToRem(8px);
    margin-block-start: pxToRem(36px);
    display: none;

    &__link {
      font-weight: 500;
      font-size: pxToRem(18px);
      line-height: pxToRem(22px);
      color: #000000;
      text-decoration: none;
      padding: pxToRem(24px);
      border-block-start: 1px solid rgba(47, 47, 47, 0.1);
    }
  }

  &__images {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__hamburger {
    &__button {
      background: none;
      border: none;
    }
  }
}

.main {
  padding-block-end: pxToRem(76px);
  .intro {
    margin-block-start: pxToRem(-52px);
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.0497193);
    border-radius: pxToRem(8px);
    padding: pxToRem(52px) pxToRem(24px) pxToRem(40px);
    display: flex;
    flex-direction: column;
    align-items: center;

    &__image {
      //marign izmedju headinga i ivice intro-a i visak od fotke
      margin-block-start: pxToRem(calc(-52px - 28px));
    }

    &__heading {
      margin-block-start: pxToRem(24px);
      font-weight: 700;
      font-size: pxToRem(20px);
      line-height: pxToRem(24px);
      text-align: center;
      color: #000000;
      width: 70%;
    }

    &__para {
      @include para();
      margin-block-start: pxToRem(16px);
      text-align: center;
    }

    &__button-and-bookmark {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-block-start: pxToRem(24px);
    }

    &__button {
      background: #3cb3ab;
      border-radius: pxToRem(33.5px);
      font-family: "Commissioner";
      font-style: normal;
      font-weight: 700;
      font-size: pxToRem(16px);
      line-height: pxToRem(20px);
      text-align: center;
      color: #ffffff;
      border: none;
      padding: pxToRem(17px) pxToRem(42px) pxToRem(19px);
    }

    &__bookmark {
      border: none;
      background: none;
      &__text {
        display: none;
      }
    }
  }

  .backing {
    background: #ffffff;
    margin-block-start: pxToRem(24px);
    border: 1px solid rgba(0, 0, 0, 0.0497193);
    border-radius: pxToRem(8px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: pxToRem(32px) pxToRem(23px) pxToRem(40px) pxToRem(25px);

    &__card {
      text-align: center;

      &--border {
        border-bottom: 1px solid rgb(0, 0, 0, 0.15);
      }

      &__text {
        font-weight: 400;
        font-size: pxToRem(14px);
        line-height: pxToRem(17px);
        color: #7a7a7a;
        padding-block-end: pxToRem(24px);
        margin-block-start: pxToRem(9px);

        &--bold {
          font-weight: 700;
          font-size: pxToRem(32px);
          line-height: pxToRem(39px);
          color: #000000;
          padding-block-start: pxToRem(24px);
        }
      }
    }

    &__bar {
      height: pxToRem(12px);
      width: 100%;
      background: rgba(47, 47, 47, 0.05);
      border-radius: pxToRem(33.5px);
      //Padding u figmi minus padding od teskta
      margin-block-start: pxToRem(calc(32px - 24px));

      &--green {
        height: pxToRem(12px);
        width: 79%;
        background-color: rgba(60, 179, 171, 1);
        border-radius: pxToRem(33.5px);
      }
    }
  }

  .about {
    margin-block-start: pxToRem(24px);
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.0497193);
    border-radius: pxToRem(8px);
    padding: pxToRem(40px) 0;

    &__heading {
      @include heading();
      margin: 0 pxToRem(24px);
    }

    &__para {
      @include para();
      margin: pxToRem(24px) pxToRem(24px) pxToRem(32px);
    }

    &__card {
      margin: pxToRem(24px) pxToRem(24px) 0;
      padding: pxToRem(24px);
      background: #ffffff;
      border: 1px solid rgba(0, 0, 0, 0.15);
      border-radius: pxToRem(8px);

      &__heading {
        font-weight: 700;
        font-size: pxToRem(14px);
        line-height: pxToRem(17px);
        color: #000000;
      }

      &__green {
        font-weight: 500;
        font-size: pxToRem(14px);
        line-height: pxToRem(17px);
        color: #3cb3ab;
        margin-block-start: pxToRem(8px);
      }

      &__para {
        @include para();
        margin-block-start: pxToRem(24px);
      }

      &__left {
        font-size: pxToRem(15px);
        line-height: pxToRem(18px);
        color: #7a7a7a;
        display: flex;
        align-items: center;
        margin-block-start: pxToRem(25px);

        &--bold {
          margin-inline-end: pxToRem(8px);
          font-weight: 700;
          font-size: pxToRem(32px);
          line-height: pxToRem(39px);
          color: #000000;
        }
      }

      &__button {
        background: #3cb3ab;
        border-radius: pxToRem(33.5px);
        font-family: "Commissioner";
        font-style: normal;
        font-weight: 700;
        font-size: pxToRem(14px);
        line-height: pxToRem(17px);
        display: flex;
        align-items: center;
        border: none;
        color: #ffffff;
        padding: pxToRem(15px) pxToRem(33px) pxToRem(16px) pxToRem(32px);
        margin-block-start: pxToRem(24px);
      }
      &--disabled {
        opacity: 0.5;
        border: none;
        button {
          background: #2f2f2f;
          mix-blend-mode: normal;
          opacity: 0.5;
        }
      }
    }
  }

  .popup {
    position: absolute;
    left: 0;
    top: pxToRem(121px);
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.0497193);
    border-radius: pxToRem(8px);
    margin: 0 pxToRem(24px);
    padding: pxToRem(24px) pxToRem(24px) pxToRem(32px);

    &__heading {
      @include heading();

      &-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }

    &__close {
      border: none;
      background: none;
    }

    &__para {
      @include para();
      margin-block-start: pxToRem(24px);
    }

    &__cards {
      display: grid;
      gap: pxToRem(24px);
      margin-block-start: pxToRem(24px);
    }

    &__card {
      background: #ffffff;
      border: 1px solid rgba(0, 0, 0, 0.15);
      border-radius: pxToRem(8px);

      &--no-reward {
        padding: pxToRem(33px) pxToRem(24px);

        h3 {
          margin-inline-start: pxToRem(16px);
        }

        p {
          margin-block-start: pxToRem(33px);
        }
      }

      &--disabled {
        opacity: 0.5;
        border: none;

        input {
          opacity: 0;
        }
      }

      &__container {
        padding: pxToRem(24px);
      }

      &__input {
        margin: 0;
        width: pxToRem(24px);
        height: pxToRem(24px);
        accent-color: #3cb3ab;
        background-color: #ffffff;
        border: 1px solid rgba(0, 0, 0, 0.15);

        &-container {
          display: flex;
          align-items: center;
        }
      }

      &__heading {
        font-weight: 700;
        font-size: pxToRem(14px);
        line-height: pxToRem(17px);
        color: #000000;
      }

      &__heading-and-pledge {
        margin-inline-start: pxToRem(16px);
      }

      &__pledge {
        font-weight: 500;
        font-size: pxToRem(14px);
        line-height: pxToRem(17px);
        color: #3cb3ab;
        margin-block-start: pxToRem(8px);
      }

      &__para {
        @include para();
        margin-block-start: pxToRem(24px);
      }

      &__left {
        font-weight: 400;
        font-size: pxToRem(15px);
        line-height: pxToRem(18px);
        color: #7a7a7a;
        margin-block-start: pxToRem(24px);

        &--desktop {
          display: none;
        }

        &--bold {
          font-weight: 700;
          font-size: pxToRem(18px);
          line-height: pxToRem(22px);
          color: #000000;
          margin-inline-end: pxToRem(5px);
        }
      }
    }

    &__selected {
      margin-block-start: pxToRem(24px);
      padding: pxToRem(24px);
      border-block-start: 1px solid rgba(0, 0, 0, 0.15);

      &--no-reward {
        button {
          margin: pxToRem(24px) 25% 0;
        }
      }

      &__text {
        font-weight: 400;
        font-size: pxToRem(14px);
        line-height: pxToRem(28px);
        color: #7a7a7a;
        text-align: center;
      }

      &__inputs {
        display: flex;
        justify-content: space-between;
        margin-block-start: pxToRem(16px);
      }

      &__input {
        width: 100%;
        font-weight: 700;
        font-size: pxToRem(14px);
        line-height: pxToRem(17px);
        text-align: center;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: pxToRem(33.5px);
        color: #000000;
        padding: pxToRem(15px) pxToRem(30px) pxToRem(16px) pxToRem(24px);

        &::placeholder {
          text-align: left;
        }
      }

      &__button {
        background: #3cb3ab;
        border-radius: pxToRem(33.5px);
        font-family: "Commissioner";
        font-style: normal;
        font-weight: 700;
        font-size: pxToRem(14px);
        line-height: pxToRem(17px);
        border: none;
        color: #ffffff;
        padding: pxToRem(15px) pxToRem(25px) pxToRem(16px) pxToRem(26px);
        margin-inline-start: pxToRem(16px);
      }
    }
  }

  .thanks {
    position: absolute;
    left: 0;
    top: pxToRem(143px);
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.0497193);
    border-radius: pxToRem(8px);
    margin: 0 pxToRem(24px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: pxToRem(32px) pxToRem(24px) pxToRem(40px);

    &__heading {
      @include heading();
      margin-block-start: pxToRem(24px);
    }

    &__para {
      @include para();
      text-align: center;
      margin-block-start: pxToRem(24px);
    }

    &__button {
      font-family: "Commissioner";
      font-style: normal;
      font-weight: 700;
      font-size: pxToRem(14px);
      line-height: pxToRem(17px);
      color: #ffffff;
      background: #3cb3ab;
      border: none;
      border-radius: pxToRem(33.5px);
      padding: pxToRem(15px) pxToRem(32.5px) pxToRem(16px) pxToRem(33.5px);
      margin-block-start: pxToRem(31.5px);
    }
  }
}

//Desktop

@media (min-width: 50em) {
  .header {
    padding: pxToRem(48px) pxToRem(166px) 0;
    background-image: url(../images/image-hero-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: pxToRem(400px);

    &__nav {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &__elements {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: pxToRem(33px);
      }

      &__element {
        font-weight: 500;
        font-size: pxToRem(13px);
        line-height: pxToRem(16px);
        color: #ffffff;

        &:hover {
          text-decoration-line: underline;
          cursor: pointer;
        }
      }
    }
  }

  .main {
    padding: 0;
    padding-block-end: pxToRem(124px);
    min-width: pxToRem(730px);
    max-width: pxToRem(730px);
    margin: 0 auto;

    .intro {
      //From para to the top plus margin between heading and para
      margin-block-start: pxToRem(-105px + 15px);
      padding: pxToRem(56px) pxToRem(72px) pxToRem(48px) pxToRem(48px);

      &__image {
        margin-block-start: pxToRem(calc(-56px - 28px));
      }

      &__heading {
        width: 100%;
        font-size: pxToRem(28px);
        line-height: pxToRem(34px);
      }

      &__para {
        font-size: pxToRem(16px);
        line-height: pxToRem(20px);
        margin-block-start: pxToRem(15px);
      }

      &__button-and-bookmark {
        margin-block-start: pxToRem(40px);
      }

      &__button {
        margin-block-end: auto;
        &:hover {
          cursor: pointer;
          background: #147a73;
        }
      }

      &__bookmark {
        display: flex;
        align-items: center;
        border-radius: pxToRem(33.5px);

        background: rgba(47, 47, 47, 0.05);
        border: none;
        &:hover {
          cursor: pointer;
          filter: invert(35%) sepia(0%) saturate(0%) hue-rotate(109deg)
            brightness(96%) contrast(86%);
        }

        &__text {
          display: block;
          font-weight: 700;
          font-size: pxToRem(16px);
          line-height: pxToRem(20px);
          color: #7a7a7a;
          padding: pxToRem(17px) pxToRem(24px) pxToRem(19px) pxToRem(16px);
        }
      }
    }

    .backing {
      padding: pxToRem(48px);
      &__content {
        width: 100%;
        display: flex;
        justify-content: flex-start;
      }

      &__card {
        text-align: start;
        &:nth-child(1) {
          padding-inline-end: pxToRem(42px);
        }

        &:nth-child(2) {
          padding-inline-start: pxToRem(47px);
          padding-inline-end: pxToRem(91px);
        }

        &:nth-child(3) {
          padding-inline-start: pxToRem(47px);
        }

        &--border {
          border-block-end: none;
          border-inline-end: 1px solid rgba(0, 0, 0, 0.15);
        }

        &__text {
          margin-block-start: pxToRem(8px);
          padding-block-end: 0;
          font-size: pxToRem(15px);
          line-height: pxToRem(18px);

          &--bold {
            padding-block-start: 0px;
          }
        }
      }

      &__bar {
        margin-block-start: pxToRem(37px);
      }
    }

    .about {
      padding: pxToRem(48px) 0;

      &__heading {
        font-size: pxToRem(20px);
        line-height: pxToRem(24px);
        margin: 0 pxToRem(48px);
      }

      &__para {
        font-size: pxToRem(16px);
        line-height: pxToRem(30px);
        margin: pxToRem(35px) pxToRem(48px) pxToRem(40px);
      }

      &__card {
        margin: pxToRem(24px) pxToRem(48px) 0;
        padding: pxToRem(38px) pxToRem(32px) pxToRem(32px);

        &__heading-and-pledge {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        &__heading {
          font-size: pxToRem(18px);
          line-height: pxToRem(22px);
        }

        &__green {
          font-size: pxToRem(15px);
          line-height: pxToRem(18px);
          margin-block-start: 0;
        }

        &__para {
          font-size: pxToRem(16px);
          line-height: pxToRem(30px);
        }

        &__left-and-button {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        &__button:hover {
          cursor: pointer;
          background: #147a73;
        }

        &__left {
          margin-block-start: pxToRem(24px);
        }
      }
    }

    .popup {
      left: 25%;
      right: 25%;
      top: pxToRem(184px);
      margin: 0;
      padding: pxToRem(32px) pxToRem(48px) pxToRem(48.5px);

      &__close:hover {
        cursor: pointer;
      }

      &__heading-container {
        align-items: start;
      }

      &__heading {
        margin-top: pxToRem(calc(48.5px - 32px));
        font-size: pxToRem(24px);
        line-height: pxToRem(29px);
      }

      &__para {
        font-size: pxToRem(16px);
        line-height: pxToRem(30px);
        margin-block-start: pxToRem(16px);
      }

      &__cards {
        margin-block-start: pxToRem(32px);
      }

      &__card {
        padding: pxToRem(30px) pxToRem(28px) pxToRem(32px);

        &--no-reward {
          h3 {
            margin-inline-start: pxToRem(24px);
          }

          p {
            margin-block-start: pxToRem(17px);
          }
        }

        &__container {
          padding: 0;
        }

        &__content {
          display: flex;
        }

        &__heading-and-pledge {
          display: flex;
          align-items: center;
          margin-inline-start: pxToRem(24px);
        }

        &__heading {
          font-size: pxToRem(16px);
          line-height: pxToRem(20px);

          &:hover {
            cursor: pointer;

            color: #3cb3ab;
          }
        }

        &__pledge {
          margin: 0;
          margin-inline-start: pxToRem(17px);
          font-size: pxToRem(16px);
          line-height: pxToRem(20px);
        }

        &__para {
          margin-inline-start: pxToRem(calc(24px + 24px));
          margin-block-start: pxToRem(17px);
          font-size: pxToRem(15px);
          line-height: pxToRem(28px);
        }

        &__left {
          display: none;

          &--desktop {
            display: block;
            margin-inline-start: auto;
            font-weight: 400;
            font-size: pxToRem(15px);
            line-height: pxToRem(18px);

            color: #7a7a7a;
          }
        }
      }

      &__selected {
        display: flex;
        align-items: center;
        padding: 0;
        padding-block-start: pxToRem(24px);

        &__inputs {
          margin-block-start: 0;
          margin-inline-start: auto;
        }

        &__input {
          margin-inline-start: auto;
          width: 26.5%;

          &:hover {
            cursor: pointer;
          }
        }

        &__text {
          font-size: pxToRem(15px);
          line-height: pxToRem(28px);
        }

        &__button:hover {
          background: #147a73;
          cursor: pointer;
        }

        &--no-reward {
          display: flex;

          button {
            margin: 0;
            margin-inline-start: auto;
            margin-block-start: pxToRem(24px);
          }
        }
      }
    }

    .thanks {
      left: 25%;
      right: 25%;
      padding: pxToRem(48px);
      top: pxToRem(460px);

      &__image {
        width: pxToRem(90px);
        height: pxToRem(90px);
      }

      &__heading {
        font-size: pxToRem(24px);
        line-height: pxToRem(29px);
        margin-block-start: pxToRem(47.5px);
      }

      &__para {
        font-size: pxToRem(16px);
        line-height: pxToRem(30px);
        margin-block-start: pxToRem(16px);
      }

      &__button {
        margin-block-start: pxToRem(32px);

        &:hover {
          background: #147a73;
          cursor: pointer;
        }
      }
    }
  }
}
